<%- include(`header`) %>
<div class="col-lg-6 d-flex align-items-center justify-content-center">
    <div class="auth-form-transparent text-left p-3">
        <h4>Welcome back!</h4>
        <h6 class="font-weight-light">Happy to see you again!</h6>
        <% if(errors.invalid){ %>
        <div class="alert alert-fill-danger mt-3" role="alert">
            <i class="ti-na"></i>
            <%= errors.invalid %>
        </div>
        <% } %>
        <% if(success){ %>
        <div class="alert alert-fill-success mt-3" role="alert">
            <i class="ti-check-box"></i>
            <%= success %>
        </div>
        <% } %>
        <form class="pt-3" method="post" action="/login">
            <div class="form-group">
                <label htmlFor="exampleInputEmail">Email</label>
                <div class="input-group">
                    <div class="input-group-prepend bg-transparent">
                        <span class="input-group-text bg-transparent border-right-0">
                            <i class="ti-user text-primary"></i>
                        </span>
                    </div>
                    <input name="email" type="text" class="form-control form-control-lg border-left-0 <%= errors.email ? 'is-invalid' : '' %>" id="exampleInputEmail" placeholder="Email you registered with" value="<%= values.email ? values.email : '' %>" />
                    <div class="invalid-feedback">
                        <%= errors.email ? errors.email : '' %>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label htmlFor="exampleInputPassword">Password</label>
                <div class="input-group">
                    <div class="input-group-prepend bg-transparent">
                        <span class="input-group-text bg-transparent border-right-0">
                            <i class="ti-lock text-primary"></i>
                        </span>
                    </div>
                    <input name="password" type="password" class="form-control form-control-lg border-left-0 <%= errors.password ? 'is-invalid' : '' %>" id="exampleInputPassword" placeholder="Password you registered with"  value="<%= values.password ? values.password : '' %>" />
                    <div class="invalid-feedback">
                        <%= errors.password ? errors.password : '' %>
                    </div>
                </div>
            </div>
            <div class="my-2 d-flex justify-content-between align-items-center">
                <div class="form-check">
                    <label class="form-check-label text-muted">
                        <input type="checkbox" class="form-check-input" />
                        Keep me signed in
                    </label>
                </div>
                <a href="#" class="auth-link text-black">Forgot password?</a>
            </div>
            <div class="my-3">
                <button type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">Login</button>
            </div>
            <div class="text-center mt-4 font-weight-light">
                Don not have an account? <a href="/register" class="text-primary">Register</a>
            </div>
        </form>

    </div>
</div>
<div class="col-lg-6 register-half-bg d-flex flex-row">
    <p class="text-dark font-weight-medium text-center flex-grow align-self-end">Copyright &copy; 2018 All rights reserved.</p>
</div>
<%- include(`footer`) %>
